@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="parent">
            <img class="img-responsive landingImage" src="~/img/Landing/Landing4.jpg" />
            <span></span>
        </div>
    </div>
</div>

@*<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="videoContainer">
            @*<video id="sampleMovie" src="~/img/IntroVideo.mov" autoplay></video>*@
@*<video preload="auto" src="~/img/IntroVideo.mp4" autoplay loop></video>
            </div>
        </div>
    </div>*@

<!-- Carousel
================================================== -->
@*<div id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/img/Landing/Landing1.jpg" class="img-responsive center-block carouselImg" alt="">
                <div class="container">
                    <div class="carousel-caption">
                        <img class="img-responsive landingCaptionImage" src="~/img/SmallLogo.png" />
                        <!--<h1>Gold Chain Backless Gown</h1>
                        <p>Description of Discotheque Dreams</p>-->
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/img/Landing/Landing2.jpg" class="img-responsive center-block carouselImg" alt="">
                <div class="container">
                    <div class="carousel-caption">
                        <img class="img-responsive landingCaptionImage" src="~/img/SmallLogo.png" />
                        <!--<h1>Gold Chain Backless Gown</h1>
                        <p>Description of Gold Chain Gown</p>-->
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/img/Landing/Landing3.jpg" class="img-responsive center-block carouselImg" alt="">
                <div class="container">
                    <div class="carousel-caption">
                        <img class="img-responsive landingCaptionImage" src="~/img/SmallLogo.png" />
                        <!--<p>Description of Gold Chain Gown</p>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </div>*@
<!-- /.carousel -->
