@{
    ViewBag.Title = "About us - Our Ethics";
}

<div>
    <p>
        <b>
            Ranait Fleur
            <br />
            Ranait Fleur was founded in 2016 by Sherrie Lacey, with the idea of bringing inspired British design and product to the World.
            <br />
        </b>
    </p>
    <p>The company draws upon its British heritage, using British sourced material, British  dress makers, and all creative decisions are taken at its London headquarters.</p>
    <p>Ranait Fleur has a stated commitment to drive positive social, cultural and environmental impacts globally. Ranait Fleur  believes it is important to be a socially responsible business, from supporting diversity and equal opportunities in its workplace, to promoting fair and sustainable employment practices internally and across its supply chain and investing in the communities.</p>
    <p>This commitment is underpinned by Ranait Fleurs Ethical Trading Policy, which is closely aligned with the United Nations Universal Declaration of Human Rights, the Fundamental Conventions of the International Labour Organization and the Ethical Trading Initiative.</p>
    <p>All of Ranait Fleur’s creations are made in the capital of England, London, the founder believes shorter supply lines result in higher quality product and therefore a happier customer.</p>
    <p>Ranait Fleur’s Ethical Trading Programme operates a strict sourcing approval process. The Ranait Fleur Ethical Trading team is led by head office insisting upon locally sourced fabrics and material from London which have in turn been sustainably and ethically sourced.</p>
    <p><b>Environmental responsibility</b></p>
    <p>Ranait Fleur is committed to minimizing its environmental impact. Ranait Fleur uses home workers as much as it is possible, reducing the carbon footprint associated with commuting workforces.</p>
    <p>Ranait Fleur also donates 1% of Group profit before tax annually to charitable causes around the world, including the Kids Trust, Children’s Society, and the NSPCC.</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</div>
