@{
    ViewBag.Title = "About us - Our Ethics";
}

<div class="text-justify">
    <p>
        <h4>
            <b>
                Ranait Fleur
                <br />
                <br />
                Ranait Fleur was founded in 2016 by Sherrie Lacey, with the idea of bringing inspired British design and product to the world.
                <br />
            </b>
        </h4>
    </p>
    <br />
    <p>The company draws upon its British heritage, using British sourced material, British  dress makers and all creative decisions are taken at its London headquarters.</p>
    <p>Ranait Fleur has a stated commitment to drive positive social, cultural and environmental impacts globally. Ranait Fleur  believes it is important to be a socially responsible business, from supporting diversity and equal opportunities in its workplace, to promoting fair and sustainable employment practices internally and across its supply chain and investing in the communities.</p>
    <p>This commitment is underpinned by <b>Ranait Fleur's Ethical Trading Policy</b>, which is closely aligned with the <b>United Nations' Universal Declaration of Human Rights</b>, <b>The Fundamental Conventions of the International Labour Organization</b> and <b>The Ethical Trading Initiative</b>.</p>
    <p>All of Ranait Fleur’s creations are made in the capital of England, London, the founder believes shorter supply lines result in higher quality product and therefore a happier customer.</p>
    <p><b>Ranait Fleur’s Ethical Trading Programme</b> operates a strict sourcing approval process. <b>The Ranait Fleur Ethical Trading Team</b> is led by head office insisting upon locally sourced fabrics and material from London which have in turn been sustainably and ethically sourced.</p>
    <br />

    <h4><b>Environmental responsibility</b></h4>
    <br />
    <p>Ranait Fleur is committed to minimizing its environmental impact. Ranait Fleur uses home workers as much as it is possible, reducing the carbon footprint associated with commuting workforces.</p>
    <p>Ranait Fleur also donates 1% of Group profit before tax annually to charitable causes around the world, including the Kids Trust, Children’s Society, and the NSPCC.</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</div>
