@{
    ViewBag.Title = "About us - Terms & Conditions";
}

<div>
    <p><h4><b>Terms and Conditions</b></h4></p>
    <p>&nbsp;</p>
    <p><b>Definitions and Interpretation</b></p>
    <p>
        1.1 In these conditions:
        <br />
        Contract – means any contract for the sale of goods and/or the supply of services between us and you into which these Conditions are incorporated; Conditions – means the standard terms and conditions of sale set out below, including the Returns Policy and any special terms and conditions, confirmed in writing by us; Goods – means the goods and/or services which we shall supply in accordance with these Conditions, under an order which is accepted; Returns Policy – means the standard terms and conditions. We – means Ranait Fleur Limited, and “us” and “our” shall be construed accordingly; you – means the person placing an order for the Goods and entering into the Contract with us and “your” shall be construed accordingly;
    </p>
    <p>1.2 The headings in these Conditions are for convenience only and shall not affect their interpretation.</p>
    <p>1.3 Unless expressly stated otherwise, where rights and decisions are to be exercised or made at our discretion, then we shall be under no duty or obligation to you to justify or provide a reason for the decision.</p>
    <p>1.4 Where our prior written consent is required in these Conditions, we shall not unreasonably withhold or delay in giving that consent.</p>
    <p>1.5 All rights expressly reserved by or granted to us by these Conditions shall be without prejudice to any other rights which we may have from time to time.</p>

    <p><b>Basis of Sale</b></p>
    <p>2.1 These Conditions (as updated by us from time to time) shall set out the entire agreement. No variation of these Conditions shall be binding unless agreed in writing by us and attached hereto. You will be subject to the policies and terms in place at the time you order the Goods from us, unless such change is required by law or government or regulatory authority (in which case it will apply to any orders you have previously placed). These Conditions apply to all purchases you make from us at any time, regardless of how the order is made.</p>
    <p>2.2 Our employees and agents are not authorized to make any representation concerning the Goods unless confirmed by us to you in writing. In entering into a Contract you acknowledge that you have not relied on any such representations which are not so confirmed.</p>
    <p>2.3 Where Goods are to be delivered by installments, each installment shall constitute a separate Contract. Failure by us to deliver any installment shall not entitle you to cancel any other installment.</p>
    <p>2.4 All specifications, drawings and particulars of weights, dimensions and performance issued by us are approximate only.</p>
    <p>2.5 We reserve the right to withdraw any offer or special promotions without notice. In the event that you have already placed an order under the Conditions that we have accepted we will provide you with a full refund for any money received.</p>

    <p><b>Orders and Specifications</b></p>
    <p>3.1 Your order represents an offer to purchase the Goods which is accepted by us when we issue you with written acceptance of the order. Our acceptance of your order is conditional upon the Goods being intended for personal use and not for resale. By placing an order you warrant that you are at least 16 years old. All orders are subject to availability and on a first-come first-served basis as unfortunately, we are unable to reserve Goods. We reserve the right to refuse to accept an order.</p>
    <p>3.2 If we reasonably believe you are intending to resell the Goods we reserve the right to refuse your order. In the event we do accept your order we will be entitled to treat you as a commercial customer and:-</p>
    <p>3.2.1 the rights afforded in clause 10 (Your Right to Cancel) will not apply;</p>
    <p>3.2.2 the terms of our Returns Policy’ will be withdrawn;</p>
    <p>3.2.3 we will only accept returned Goods within seven days of dispatch if they were defective at the time of receipt;</p>
    <p>3.2.4 we will charge a reasonable handling fee, which shall exclude packaging and/or delivery costs for which you shall be liable and which will be confirmed prior to your order being accepted; and</p>
    <p>3.2.5 make such other amendments to these Conditions as we deem necessary and only accept an order upon acceptance of the same.</p>
    <p>3.3 You shall be responsible for ensuring the accuracy of the terms of any order submitted by you, and for giving us any necessary information relating to the Goods within a sufficient time to enable us to perform the Contract in accordance with these Conditions. We shall not be liable for all costs and expenses incurred by you due to inaccurate information submitted by you or, if the goods are ordered by mobile telephone, as a result of network failure.</p>
    <p>3.4 If the Goods are to be manufactured or any process is to be applied to the Goods by us in accordance with a specification submitted by you, (1) the terms of Clause 10 (Your Right to Cancel) shall not apply; (2) you shall indemnify us against all loss, damages, costs and expenses awarded against or incurred by us in connection with or paid or agreed to be paid by us in settlement of any claim for infringement of any patent, copyright, design right, trademark or other intellectual property rights of any other person which results from our use of your specification; (3) We reserve the right to make changes in the specification of the Goods which are required to conform with any applicable statutory or EU requirements.</p>
    <p>3.5 If the returns rate of 75% is exceeded by yourself, we reserve the right to charge a £1.00 administration fee for all returned items received on subsequent orders.</p>
    
    <p><b>Price of the Goods</b></p>
    <p>4.1 The price of the Goods shall be the price confirmed by us at the time the order is placed.</p>
    <p>4.2 While we try to ensure that all prices in our catalogs and on our website are accurate, errors may occur. If we discover an error in the price of goods you have ordered (whether this by our error or an error by any third party), we will inform you as soon as possible and give you the option of re-confirming the order at the correct price or cancelling it. If we are unable to contact you, we will treat the order as cancelled. If you have already paid for the goods and the order is subsequently cancelled, you will receive a full refund.</p>
    <p>4.3 In the event that we are unable to supply the Goods at the price or specification stated in the order, we will where possible notify you of any changes and where the Goods ordered are not available we may offer you substitute goods whereby you will be asked to re-confirm your order at the new price and/or specification. You are not obliged to accept any substitute Goods and will be entitled to receive a full refund if you confirm that the substitute Goods are not acceptable.</p>
    <p>4.4 The price is inclusive of any applicable value added tax or other sales tax (at the rate from time to time in force). Any packaging or delivery costs for which you shall be liable will be confirmed prior to your order being placed.</p>
    <p>4.5 All voucher codes are not valid on sale items unless specifically stated.</p>
    
    <p><b>Terms of Payment</b></p>
    <p>5.1 Please see our Payment Options for our terms of payment.</p>
    <p>5.2 If you fail to make any payment on the due date then we reserve the right to: (a) cancel the Contract or suspend further deliveries to you; (b) charge you a reasonable amount of interest on the amount unpaid, at the rate of 3% above Metro Bank Ltd base rate from time to time from the date the amount was due until payment is made in full, accruing pro rata on a daily basis.</p>
    <p>5.3 In the event that a cheque or credit card payment is dishonoured by your bank or credit card provider, they (being your bank, credit card provider or our debt collection company “Transax” or “Certegy Ltd”) may charge a fee. Where we incur any fee or liability as a result of a dishonoured payment, you will be liable to reimburse us in full for the amount we have incurred.</p>
    <p>5.4 All credit and charge card holders are subject to validation checks and authorisation by the card issuer. If the issuer of your payment card refuses to authorise payment to us, we will not be liable for any delay or non-delivery. In addition, in the interests of preventing fraudulent use of credit, debit and charge cards, Yours Clothing Limited will validate the names, addresses and other information supplied during the order process against commercially available records (e.g Electoral Roll data, credit reference services). We reserve the right to instruct a third party to complete these checks. By ordering from the catalogue or our website you consent to such checks being made. We may need to contact you by letter, telephone, SMS or email to verify details before we are able to process and dispatch your order or we may be unable to accept your order and we shall not be liable for any delay or non-delivery this may cause. Any information given may be disclosed to a registered Credit Reference Agency which may keep a record of the information. All information provided will be treated in accordance with the Data Protection Act 1998.</p>
</div>
