/*body {
    font-family: Raleway;
    font-size: 14px;
    margin: 0;
}

label {
    font-weight: bold;
    display: block;
}

input[type=text], input[type=password], textarea {
    width: 150px;
}*/

/*body, select, input[type=text] {
    background-color: white;
}*/

::selection {
  background: #e6ae48; /* WebKit/Blink Browsers */
}

body {
    padding-top: 80px;
    background-color: whitesmoke;
    font-family: 'Raleway', sans-serif;
}

ul li {
    padding: 0;
    margin: 0
}
/*.navbar-fixed-top a b {
    font-size: 20px;
}

.navbar-fixed-top a {
    font-size: 15px;
    text-decoration: none;
}*/

.container a {
    font-size: 15px;
    text-decoration: none;
}

    a:link, a:visited {
        color: grey;
    }

     a:hover, a:active {
         color: #e6ae48;
    }

/*ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;
}*/

/*#main {
    padding: 4px;
    margin: 0;
}

#footer {
    padding: 8px 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}*/

.nav {
    padding-top: 12px;
}

.mainBody {
    padding-bottom: 90pt;
}

.checkoutOption {
    font-size: 20px;
}

.checkoutOption a {
    text-decoration: none;
}

#topComponents {
    text-align: center;
}

.clearPrevious {
    clear: both;
}

.component {
    display: inline-block
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
    color: black
}

#smallLogo {
    margin-top: 20px;
}

#sidebar {
    position: fixed;
    height: 100%;
    width: 250px;
    overflow: hidden;
    left: 0;
    margin: 0;
}

#wrapper {
    margin: 0 0 0 250px;
}

/*.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 10px;
    margin: 0;
    border: none;
    background-color: #eeeeee;
    box-shadow: none;
}*/

.logo {
    width: 160px;
    padding: 10px;
}

.btn.btn-sm.btn-link {
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.btn.btn-sm.btn-link:hover, .btn.btn-sm.btn-link:focus {
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
    color: #e6ae48;
    font-weight: bold;
    font-size: 16px;
}

.btn.btn-success {
    background-color: #e6ae48;
    color: white;
    border-color: transparent;
}

.btn.btn-success:hover {
    background-color: #e6ae48;
    color: black;
    border-color: transparent;
}

.navbar-header .navbar-brand {
    color: #e6ae48;
    font-weight: bold;
    font-size: 22px;
}

.navbar-header .navbar-brand:hover {
    color: #e6ae48;
    font-weight: bold;
    font-size: 22px;
    text-shadow: 0 0 3px #FF0000;
}

.navbar-fixed-top {
    padding: 0;
    margin: 0;
    /*background-color: #25211e*/
}

.navbar {
    padding: 0;
    margin: 0;
    background-color: white;
    color: black
    /*background-color: #25211e;*/
    /*color: #999;*/
}

.parent { position: relative; }

.parent span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    opacity: 0.5;
    background: url(../img/Gold_Logo_Tr.png) no-repeat center center;
}

.img-responsive {
    margin: 0 auto;
}

.landingImage {
    height: 550px;
    width: 100%;
}

@media screen and (max-width: 770px) {
    .landingImage {
        height: auto;
        width: Auto;
    }
}

.coutureImage {
    height: 450px;
}

@media screen and (max-width: 770px) {
    .coutureImage {
        height: auto;
    }
}

.landingCaptionImage {
    width: 60px;
    height: 70px;
    opacity: 0.6;
}

/*.footerItem {
    margin-top: 20px;
    margin-left: 50px
}*/

/*.footerItem li {
    list-style-type: none;
}*/

/*.text-left {
    margin-left: 20px;
}*/

.verticalLine {
    /*border-left: thick solid goldenrod;*/
    border-left:1px solid grey; 
    height:250px
}

@media screen and (max-width: 770px) {
    .verticalLine {
        display: none;
    }
}

/*.menu {
    color: grey;
}
    .menu li {
        list-style-type: none;
    }*/

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
#myCarousel {
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 1;
    color: #e6ae48;
}

/* Declare heights because of positioning of img element */
/*.carousel .item {
  height: 550px;
  background-color:#555;
}

.carousel img {
    min-height: 550px;
    max-height: 100%;
}*/

#myCarousel .item {
  height: 550px;
  background-color: transparent;
}

#myCarousel .carouselImg {
    min-height: 550px;
    max-height: 100%;
}

#shopCarousel1 .item, #shopCarousel2 .item, #shopCarousel3 .item {
  height: 350px;
  background-color: transparent;
}

#shopCarousel1 img, #shopCarousel2 img, #shopCarousel3 img {
    min-height: 350px;
    max-height: 100%;
}

/*---------Shope Page Css-----------------------------------*/

.divider-title{
    border:1px solid #dddddd;
}

.shopH4 {
    font-weight: 600;
    margin-top: 10px;
}

.shopP {
    font-size: 12px;
    padding-top: 5px;
}

.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.productTitle {
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
}

/*.price {
    font-size: 20px;
    margin-top: 10px;
    color: #333;
}*/

.product-description {
    margin-top: 40px;
    color: #333;
}

.thumbnail {
    opacity: 0.80;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.thumbnail:hover {
    opacity: 1.00;
    box-shadow: 0px 0px 10px #e6ae48;
}

.line {
    margin-bottom: 5px;
    display: none
}

@media screen and (max-width: 770px) {
    .line {
        display: block;
        margin-left: 20px;
        margin-right: 20px;
    }
}

/*@media screen and (max-width: 770px) {
    .right {
        float:left;
        width: 100%;
    }
}*/

div.thumbnail {
    border: none;
    background-color: transparent;
    height: 400px;
}

/*div.thumbnail {
    border: 1px solid #e6ae48 !important;
    border-radius: 0px !important;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.16);
    padding: 10px;
}*/

.container h4{margin-top:70px; margin-bottom:30px;}

/*button {
    margin-top: 6px;
}*/

.right {
    float: right;
    border-bottom: 2px solid #e6ae30;
}

.btn-info {
    color: black;
    background-color: grey;
    border-color: grey;
    font-size:13px;
    font-weight:600;
}

.btn-info:hover {
    background-color: #e6ae48;
    border-color: #e6ae48
}

#shopImg {
    width: 210px;
    height: 300px;
}

/*----------------------------------------------*/

#carousel-custom {
    width: 300px !important;
    height: 300px !important;
    margin: 0
}

/*#carousel-custom .item {
  position: center;
  background-color:#555;
}

#carousel-custom img {
    min-height: 400px;
    max-height: 100%;
}*/

#carousel-custom .carousel-indicators {
    margin: 10px 0 0;
    overflow: auto;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 100%;
    overflow:hidden;
}

#carousel-custom .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: 66px !important;
    margin: 0 !important;
    width: 66px !important;
}

#carousel-custom .carousel-indicators li img {
    display: block;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    max-height: 66px !important;
    max-width: 66px !important;
}

#carousel-custom .carousel-indicators li.active img {
    opacity: 1;
}

#carousel-custom .carousel-indicators li:hover img {
    opacity: 0.75;
}

#carousel-custom .carousel-outer {
    position: relative;
}

/*.carousel-indicators li img {
    height: 66px;
    width: 52px;
}*/

/*-----------------T&C related pages------------------------------*/
.c0 {
    orphans: 2;
    widows: 2;
}

.c1 {
    font-weight: 700;
}

.c2 {
    height: 11pt;
}

.c3 {
    background-color: #ffffff;
    padding: 20pt 72pt 72pt 72pt;
}

.c4 {
    color: inherit;
    text-decoration: inherit;
}

.c5 {
    color: #1155cc;
    text-decoration: underline;
}

.c6 {
        font-size: 12pt;
}

.cart-row {
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #e1e1e1;
}
/*----------------------------------------------*/

.videoContainer 
{
    display:block;
    position: center;
    width: 100%;
    overflow: hidden;
}

.videoContainer video 
{
    min-width: 100%;
    max-width: 100%;
}

/*-------------------------------------------------*/

.loader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: 50% 50% no-repeat rgb(249,249,249);
    /*url("../img/load.gif")*/
}

/*------------------------------------------------*/
.disabledDiv {
    
}

.enableDiv {
    
}